<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>ChemCloud.Plugin.Express.Zhongyouwuliu</PluginId>
  <DisplayName>邮政平邮</DisplayName>
  <ClassFullName>ChemCloud.Plugin.Express.Zhongyouwuliu.Service,ChemCloud.Plugin.Express.Zhongyouwuliu</ClassFullName>
  <Description>邮政平邮快递插件</Description>
  <Type>2</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion></MaxHimallVersion>
  <Enable>0</Enable>
</PluginInfo>