<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AddedTime>2015-10-20T15:02:14.7509974+08:00</AddedTime>
  <Author>Himall</Author>
  <ClassFullName>Himall.Plugin.OAuth.QQ.Service,Himall.Plugin.OAuth.QQ</ClassFullName>
  <Description>QQ信任登录插件</Description>
  <DisplayIndex>0</DisplayIndex>
  <DisplayName>QQ</DisplayName>
  <Enable>false</Enable>
  <MaxHimallVersion />
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <PluginDirectory>E:\Himall\mysql_v2.1\Himall.Web\plugins\OAuth\Himall.Plugin.OAuth.QQ</PluginDirectory>
  <PluginId>Himall.Plugin.OAuth.QQ</PluginId>
  <Type>0</Type>
  <Version>1.0</Version>
</PluginInfo>