<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AddedTime>2015-10-20T15:02:14.7159954+08:00</AddedTime>
  <Author>Himall</Author>
  <ClassFullName>Himall.Plugin.Express.Zhongtong.Service,Himall.Plugin.Express.Zhongtong</ClassFullName>
  <Description>中通快递插件</Description>
  <DisplayIndex>0</DisplayIndex>
  <DisplayName>中通快递</DisplayName>
  <Enable>false</Enable>
  <MaxHimallVersion />
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <PluginDirectory>E:\Himall\mysql_v2.1\Himall.Web\plugins\Express\Himall.Plugin.Express.Zhongtong</PluginDirectory>
  <PluginId>Himall.Plugin.Express.Zhongtong</PluginId>
  <Type>2</Type>
  <Version>1.0</Version>
</PluginInfo>