
@{
    ViewBag.Title = "ProductVisitRanking";
}
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="~/Scripts/echarts-plain-map.js"></script>
<script src="~/Scripts/CommonJS.js"></script>
<script src="~/Areas/SellerAdmin/Scripts/ProductVisitRank.js"></script>


<div class="container" style="padding-top:20px">
    <ul class="nav nav-tabs-custom clearfix">
        <strong>流量统计</strong>
        <li><a href="./ShopFlow">供应商总流量</a></li>
        <li class="active"><a>产品流量排行</a></li>
        <em class="primary-btn">
            <span class="glyphicon glyphicon-question-sign"></span>
            <div class="primary">
                <h3>温馨提示：</h3>
                <span>*</span><p>可查看供应商及产品流量</p>
                <span>1、</span><p>供应商流量按照月份为单位统计，对比上月和当月的流量趋势</p>
                <span>2、</span><p>产品流量可按照天、周、月进行统计，显示Top15的产品</p>
            </div>
        </em>
    </ul>
    <form class="custom-inline count-search">
        <div class="form-group">
            <select id="queryType" class="form-control input-sm">
                <option value="0">按天统计</option>
                <option value="1">按周统计</option>
                <option value="2">按月统计</option>
            </select>
        </div>
        <div class="form-group">
            <input id="inputStartDate" class="form-control input-sm start_datetime" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="text" >
        </div>
        <div class="form-group">
            @Html.DropDownList("year", (List<SelectListItem>)ViewBag.YearDrop, new { @class = "form-control input-sm", style = "display:none;", id = "yearDrop" })
        </div>
        <div class="form-group">
            @Html.DropDownList("month", (List<SelectListItem>)ViewBag.MonthDrop, new { @class = "form-control input-sm", style = "display:none;", id = "monthDrop" })
        </div>
        <div class="form-group">
            @Html.DropDownList("week", (List<SelectListItem>)ViewBag.WeekDrop, new { @class = "form-control input-sm", style = "display:none;", id = "weekDrop" })
        </div>

        <input type="button" class="btn btn-primary btn-sm" id="SearchBtn" value="查询" />
    </form>
    <div class="count">
        <div class="text-right form-group">
            <div class="count-chat">
                <div id="main" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
            </div>

        </div>



    </div>
</div>



