
@{
    ViewBag.Title = "预付款管理";
}
@{var type = Request.QueryString["type"];}
<script src="~/Scripts/jquery.ChemCloudDatagrid.js"></script>
<script src="~/Scripts/jquery.ChemCloudLinkage.nocreate.js"></script>
<script src="~/Areas/Admin/Scripts/Capital.js"></script>
<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a href=".">预付款管理</a></li>
        <li><a href="../Capital/WithDraw">提现管理</a></li>
    </ul>
    <div class="search-box" id="search-box">
        <form class="custom-inline" role="form">

            <div class="form-group">
                <label class="label-inline" for="">会员帐号</label>
                <input class="form-control input-ssm" type="text" id="txtMemName">
            </div>

            <span class="submit"><button type="button" class="btn btn-primary btn-sm" id="searchButton">搜 索</button></span>
        </form>
    </div>
    <table id="list" class="table"></table>
</div>