@{
    ViewBag.Title = "为指定城市设置运费";
}
<script src="~/Scripts/jquery.ChemCloudDatagrid.js"></script>
<script src="~/Areas/SellerAdmin/Scripts/FreightTemplate.js"></script>
<div class="container" style="padding-top:20px">
    <ul class="nav nav-tabs-custom clearfix" id="ulMenu">
        <strong>运费模版设置</strong>
        <li class="active"><a id="btnManage" >管理</a></li>
        <li ><a id="btnAdd" href="Add">新增</a></li>
        <li><a id="btnEdit">详细</a></li>
    </ul>
    <table class="table" id="list"></table>
</div>


