<?xml version="1.0"?>
<ExpressInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>申通快递</Name>
  <DisplayName>申通快递</DisplayName>
  <TaobaoCode>STO</TaobaoCode>
  <Kuaidi100Code>shentong</Kuaidi100Code>
  <Width>2300</Width>
  <Height>1270</Height>
  <BackGroundImage>2010111771175.jpg</BackGroundImage>
  <Logo>logo.png</Logo>
  <Elements />
</ExpressInfo>