@model ChemCloud.Model.COAList

@using System.Linq
@{
    ViewBag.Title = "AddStepThree";
 }
<script src="~/Scripts/jquery.hishopUpload.js"></script>
<script src="~/Scripts/jquery.ChemCloudLinkage.nocreate.js"></script>
<script src="~/Scripts/autoNumeric.js"></script>
<style>
    .uploadFile {
        opacity: 0;
        filter: alpha(opacity=0);
        font-size: 100px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    .divFile {
        position: relative;
        width: 75px;
        height: 22px;
        display: inline;
    }

    .inputFile {
        position: absolute;
        top: 0px;
        left: 135px;
        width: 75px;
        height: 22px;
        opacity: 0;
        filter: "alpha(opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }

    .form-group {
        height: 40px;
    }
</style>

<iframe name="iframeUpload" src="" width="350" height="35" frameborder="0" scrolling="no" style="display:none" id="iframe"></iframe>
<form></form>

<div class="ajax-loading" style="display:none">
    <table height="100%" width="100%">
        <tr>
            <td align="center">
                <p></p>
            </td>
        </tr>
    </table>
</div>

<div class="container" style="padding-top:20px;">

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">COA #：</label>
        <div class="col-sm-4">
            <input type="text" class="form-control input-sm" value="@ViewBag.CoANo" id="inputCoA" disabled="disabled" />
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">CAS #</label>
        <div class="col-sm-4">
            <input type="text" class="form-control input-sm" value="" id="CoaNo" />
        </div>
    </div>


    <div class="form-group">
        <label for="" class="col-sm-2 control-label">图片:</label>
        <div class="divFile">
            <div class="form-group upload-img " id="OtherCert"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" id="btnUpload" value="生成PDF并保存" />
        </div>
    </div>
</div>

@*</div>*@
<iframe id="iframeImport" style="display:none;"></iframe>
<script>
    $(function () {
        $("#OtherCert").hishopUpload({
            url: '/common/PublicOperation/UploadPictoPDF',
            title: '扫描件上传(最多六张&nbsp;&nbsp;&nbsp;  建议尺寸200*280)',
            imageDescript: '',
            displayImgSrc: '',
            imgFieldName: "OtherCert",
            imagesCount: 6,
            dataWidth: 6
        });
        $('#btnUpload').bind('click', function () {
            var path = "";
            var eles = document.getElementsByClassName("hiddenImgSrc");
            for (var i = 0; i < eles.length; i++) {
                path += $(eles[i]).val()+";";
            }
            var fileName = name.substring(name.lastIndexOf(".") + 1).toLowerCase();
            if ($("#CoaNo").val() == "") {
                $.dialog.tips('请填写CAS #！');
                return false;
            } 
            var loading = showLoading('正在上传');
            
            $.ajax({
                type: 'post'
             , url: 'AddPdfBypic'
             , data: { CoANo: $('#inputCoA').val(), path: path, CASNo: $("#CoaNo").val() }
             , datatype: 'json'
             , success: function (res) {
                 if (res.success) {
                     $('.ajax-loading').remove();
                     art.dialog.alert("上传COA报告成功", function () { location.reload(); });
                 }
             }
            });
        })
    });
</script>


