/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea, em, i {
    margin: 0;
    padding: 0;
    outline: 0 none;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
}

table {
    border-collapse: collapse;
    word-break: break-all;
}

input {
    font: 12px/1.5 Arial,Verdana,'SimSun';
}

ol, ul, li {
    list-style: none;
}

img {
    border: 0 none;
    font-size: 0;
    vertical-align: top;
    margin-top:9px;
}

body {
    color: #545454;
    background: #fff;
    font: 12px/1.5 Arial,Verdana,'SimSun';
    _background-image: url(about:blank); /* for IE6 */
    _background-attachment: fixed;
}

.cl {
    zoom: 1;
}

    .cl:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        overflow: hidden;
    }

.clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

a {
    text-decoration: none;
    color: #333;
}

    a:hover {
        color: #e4393c;
        text-decoration: underline;
    }

    a:link, a:visited {
        color: #333;
        text-decoration: none;
    }

.w {
    width: 900px;
    padding: 0;
    margin: 0 auto;
    zoom: 1;
}

.w1 {
    margin: 0 auto;
    height:600px;
    background-image:url("../Images/loginbanner.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center center;
}

#logo {
    padding: 10px 0;
    float: none;
    margin: 0;
    position: relative;
}

    #logo b {
        /*position: absolute;
        background: url(../images/login-all-bg.png) 0 -131px no-repeat;
        width: 111px;
        height: 46px;
        top: 18px;
        margin-left: 20px;*/
        position: absolute;
        height: 46px;
        top: 18px;
        margin-left: 20px;
        line-height: 38px;
        font-size: 24px;
        color: #3498db;
        border-left: 1px solid #ccc;
        padding-left: 15px;

    }

#entry {
   
  
}

    #entry .mc {
       
        background: #ffffff;
        height: 600px;
    }

#entry-bg {
    /*width: 460px;*/
    width: 508px;
    height: 355px;
    position: absolute;
    left: 5px;
    top: 5px;
    /*background: url(../images/login-banner.png) no-repeat;*/
    background: url(../images/loginbanner.png) no-repeat;

}

#entry .form {
    padding:25px;
    width:300px;
    position: absolute;
    top: 211px;
    right: 20%; /* width: 320px;*/
    overflow: hidden;
    background:rgba(255,255,255,.9);
}

#entry .item {
    height: 64px;
    line-height: 26px;
    overflow: visible;
    position: relative;
    width: 320px;
    z-index: 1;
}

#entry .fore1 {
    z-index: 10;
}

#entry .fore2 {
    z-index: 8;
}

#entry .fore3 {
    z-index: 6;
    height: 63px;
}

#entry .fore4 {
    height: 37px;
    margin-top: 35px;
    z-index: 3;
}

#entry .item span {
    color: #999999;
    height: 20px;
    line-height: 20px;
    display: block;
    margin-top: 1px;
}

#entry .item .item-ifo {
    position: relative;
    width: 307px;
}

#entry .text {
    float: none;
    width: 282px;
    height: 24px;
    line-height: 24px;
    padding: 4px 20px 4px 3px;
    border: 1px solid #cccccc;
    font-size: 14px;
    font-family: arial, SimSun;
}

    #entry .text:focus {
        border-color: #7abd54;
    }

#entry .text-1 {
    width: 100px;
    float: left;
}

#entry .img img {
    margin: 0 5px;
    cursor: pointer;
    height: 33px;
    display: block;
}

.form .hline {
    line-height: 16px;
}

.login-prm {
    color: #33cc00;
    border: 1px solid #33cc00;
    padding: 0 10px;
    line-height: 24px;
    background-color: #e1ffe9;
    width: 350px;
    margin: 20px 0;
}

.ftx13, .flk13 a:link, .flk13 a:visited, a.flk13:link, a.flk13:visited {
    color: #005AA0;
}

#entry .item-ifo .ico {
    position: absolute;
    right: 12px;
    top: 8px;
    z-index: 5;
    background: url(../images/login-all-bg.png) no-repeat #fff;
}

    #entry .item-ifo .ico.i-name {
        background-position: -373px -111px;
        width: 16px;
        height: 16px;
    }

    #entry .item-ifo .ico.i-pass {
        background-position: -346px -108px;
        width: 14px;
        height: 19px;
    }

.form label, .form input, .form select, .form textarea, .form button, .form .label {
    float: left;
    font-size: 12px;
}

#entry .focus {
    color: #999;
    line-height: 22px;
    display: none;
}

#entry .blank {
    display: none;
    float: none;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 9px;
    right: 8px;
    z-index: 10;
    padding: 2px;
}

#entry .item .item-ifo {
    position: relative;
    width: 307px;
}

#entry .checkbox {
    margin: 7px 3px 3px;
    vertical-align: middle;
}

#entry .mar {
    margin-right: 10px;
}

#entry .login-btn2013 {
    height: 52px;
  
}
.login-btn2013 input {
      margin-bottom:10px;
}

#entry .null, #entry .error, #loginname_error.error, #loginpwd_error.error, #authcode_error.error {
    position: absolute;
    width: 302px;
    padding: 2px 0 2px 3px;
    left: 0px;
    top: 34px;
    border: 1px solid #ffbdbf;
    color: #e6393d;
    background: #ffebec;
    float: none;
    line-height: 16px;
    z-index: 100;
    height: 19px;
    font-size: 14px;
    font-weight: bolder;
}

#entry .btn-entry {
    width: 307px;
    height: 36px;
    color: #FFF;
    font-family: "Î¢ÈíÑÅºÚ";
    /*line-height: 100px;*/
    /*text-indent: -9999px;
    background: url(../images/login-all-bg.png) no-repeat 0 -61px;*/
    overflow: hidden;
    border: none;
    cursor: pointer;
    background-color: #3498DB;
    font-size: 16px;
    font-weight: 800;
}

#entry .btn_reg {
    width:150px;
    background-color:#349916;
    height: 36px;
    color: #FFF;
    font-family: "Î¢ÈíÑÅºÚ";
     overflow: hidden;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
}

    #entry .btn-entry:hover {
        /*background: url(../images/login-all-bg.png) no-repeat 0 -95px;*/
    }

#entry .login-bind-btn {
    margin-top: 20px;
}

#entry .btn-bind-id {
    width: 160px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #e43d40;
    border: 0 none;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    font-family: 'microsoft yahei';
    cursor: pointer;
}

    #entry .btn-bind-id:hover {
        background-color: #ee4a4c;
    }

#entry .login-bind-btn .ftx24 {
    display: inline-block;
    margin: 10px 0 0 10px;
}

#entry .coagent {
    position: absolute;
    right: 0;
    bottom: 26px;
    width: 350px;
    line-height: 36px;
    z-index: 99999;
}

#entry .ftx24 {
    color: #999;
}

#entry .coagent .btns {
    float: left;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin-right: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

    #entry .coagent .btns img {
        width: 25px;
        height: 25px;
    }

    #entry .coagent .btns .img2 {
        display: none;
    }

    #entry .coagent .btns .img1 {
        display: block;
    }

    #entry .coagent .btns a:hover .img1 {
        display: none;
    }

    #entry .coagent .btns a:hover .img2 {
        display: block;
    }
/*#entry .coagent .g2{ background-position:0 -50px;}
#entry .coagent .g3{ background-position:0 -100px;}
#entry .coagent .g1:hover{ background-position:0 -25px;} 
#entry .coagent .g2:hover{ background-position:0 -75px;} 
#entry .coagent .g3:hover{ background-position:0 -125px;} */

#entry .coagent a {
    display: block;
    text-indent: -999em;
}

.free-regist {
    position: absolute;
    right: 412px;
    top:581px;
    background: rgba(255,255,255,.9);
    width: 150px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    padding: 0px 5px 5px;
}

    .free-regist span {
        text-align: center;
        font-size: 14px;
        background: #7cbe56;
        width: 150px;
        height: 32px;
        display: block;
        color: #FFF;
        -moz-border-radius: 0 0 3px 3px;
        -webkit-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
    }

        .free-regist span:hover {
            background: #89c964;
        }

    .free-regist a {
        color: #ffffff;
        text-decoration: none;
    }

#mb-bg {
    height: 59px;
    width: 853px;
}

.mb {
    margin-bottom: 24px;
    overflow: hidden;
}

#footer {
    padding-bottom: 30px;
    text-align: center;
}

    #footer .links a, #footer .links span {
        margin: 0 10px;
    }

    #footer .copyright {
        margin: 10px 0;
    }
