<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SupportPlatfoms>
    <PlatformType>PC</PlatformType>
  </SupportPlatfoms>
  <Partner>sdfdsf</Partner>
  <Input_charset>gbk</Input_charset>
  <Sign_type>MD5</Sign_type>
  <Logo>alipay.gif</Logo>
  <getCodeService>alipay.mobile.qrcode.manage</getCodeService>
  <gateWay>https://mapi.alipay.com/gateway.do</gateWay>
  <key>e2b0bp2qhzgushxdks9271gxsqb0lq4e</key>
  <trade_type>1</trade_type>
  <HelpImage>alipay_help.jpg</HelpImage>
</Config>