@model ChemCloud.Model.MessageRevice

@using System.Collections
@{
    ViewBag.Title = "Management";
    // Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.ChemCloudDatagrid.js"></script>
<script src="~/Scripts/CommonJS.js"></script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
    $(function () {
        $(".start_datetime").datetimepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            autoclose: true,
            weekStart: 1,
            minView: 2
        });
        $(".end_datetime").datetimepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            autoclose: true,
            weekStart: 1,
            minView: 2
        });
        $(".start_datetime").click(function () {
            $('.end_datetime').datetimepicker('show');
        });
        $(".end_datetime").click(function () {
            $('.start_datetime').datetimepicker('show');
        });
        $('.start_datetime').on('changeDate', function () {
            if ($(".end_datetime").val()) {
                if ($(".start_datetime").val() > $(".end_datetime").val()) {
                    $('.end_datetime').val($(".start_datetime").val());
                }
            }
            $('.end_datetime').datetimepicker('setStartDate', $(".start_datetime").val());
        });
    });
</script>
<script type="text/javascript">
    function Query() {
        var MsgType = $("#MsgType option:selected").val();
        var SendOBj = $('#SendObj option:selected').val();
        $("#list").hiMallDatagrid({
            url: "/Admin/Messages/List",
            singleSelect: true,
            pagination: true,
            NoDataMsg: '没有找到符合条件的数据',
            idField: "Id",
            pageSize: 15,
            pageNumber: 1,
            queryParams: { BeginTime: $("#inputStartDate").val(), EndTime: $("#inputEndDate").val(), MsgType: MsgType, SendOBj: SendOBj },//"shopAccount": shopAccount, "shopGradeId": shopGradeId,
            toolbar: "#shopToolBar",
            columns:
            [[

                { field: "Id", title: "Id", width: 50 },
                //{ field: "IsSelf", title: "IsSelf", hidden: true },
                 {
                     field: "MessageTitle", title: "消息标题", width: 100, formatter: function (value, row, index) {
                         var html = "";
                         html = row.MessageTitle;
                         return html;
                     }
                 },
                {
                    field: "MsgType", title: "消息类型", width: 100, formatter: function (value, row, index) {
                        var html = "";
                        html = row.MsgType == 1 ? "消息" : "通知";
                        return html;
                    }
                },
                {
                    field: "SendObj", title: "接收人类型", width: 460, formatter: function (value, row, index) {
                        var html = "";
                        if (row.SendObj == 1) {
                            var html = "所有人";
                        } else if (row.SendObj == 2) {
                            var html = "所有供应商";
                        } else if (row.SendObj == 3) {
                            var html = "所有采购商";
                        } else if (row.SendObj == 4) {
                            var html = "自定义发送";
                        }
                        return html;
                    }
                },

                {
                    field: "operation", operation: true, title: "操作",
                    formatter: function (value, row, index) {
                        var id = row.Id;
                        var html = ['<span class="btn-a">'];
                        html.push('<a id="ShowRead' + row.Id + '" class="showRead" >查看</a>');
                        html.push("</span>");
                        html.push('<span class="btn-a">');
                        html.push('<a style="color:red;" onclick="Delete(' + row.Id + ')">删除</a>');
                        html.push("</span>");
                        return html.join("");
                    }
                }
            ]]
        });

    };
    $(function () {
        Query();
        $("#searchBtn").click(function (e) {
            Query();
        });
    });
    $(function () {
        $("#openBtn").click(function (e) {
            window.location.href = "./AddMessage";
        });
    });

    var Delete = function (id) {
        $.dialog.confirm('确定删除选择的消息？', function () {
            var loading = showLoading();
            $.post("./Delete", { id: id }, function (data) {
                $.dialog.tips("删除成功");
                Query();
                loading.close();
            });
        });
    }

    $(".showRead").live("mouseover mouseout", function (event) {
        var readId = $.trim($(this).attr("id").substring(8));
        var ps = $(this).position();
        if (event.type == 'mouseover') {
            $.post('./GetReadState', { id: readId }, function (result) {
                var html = "";
                if (result != null) {
                    html += '<span>已读：' + result.Read + '未读：' + result.Noread + '</span>';
                }
                $("#float_box").children('span').html(html);
                $("#float_box").css("position", "absolute");
                $("#float_box").css("left", ps.left); //距离左边距
                $("#float_box").css("top", ps.top + 20); //距离上边距
                $("#float_box").show();
            });

        } else {
            $("#float_box").hide();
        }
    });
</script>



<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <strong>通知</strong>
        <li class="active"><a>通知</a></li>
    </ul>
    <div id="divList">
        <div class="search-box">
            <form class="custom-inline">
                <div class="form-group" filter normal audit saleoff>
                    <label class="label-inline" for="">接收人</label>
                    <select id="SendObj">
                        <option value="0">请选择</option>
                        <option value="1">所有人</option>
                        <option value="4">自定义发送</option>
                    </select>
                </div>
                <div class="form-group" filter normal audit saleoff>
                    <label class="label-inline" for="">消息类型</label>
                    <select id="MsgType">
                        <option value="0">请选择</option>
                        <option value="1">消息</option>
                        <option value="2">通知</option>
                    </select>
                </div>

                <div class="form-group" filter normal>
                    <label class="label-inline" for="">开始日期</label>
                    <input class="form-control input-ssm start_datetime" id="inputStartDate" type="text">
                    <i class="glyphicon glyphicon-calendar"></i>
                </div>
                <div class="form-group" filter normal>
                    <label class="label-inline" for="">结束日期</label>
                    <input class="form-control input-ssm end_datetime" id="inputEndDate" type="text">
                    <i class="glyphicon glyphicon-calendar"></i>
                </div>
                <button type="button" class="btn btn-primary btn-sm" id="searchBtn">搜 索</button>
                <button type="button" class="btn btn-primary btn-sm" id="openBtn">新 增</button>
            </form>
        </div>
        <table id="list" class="table"></table>
        <div id="float_box" style="display:none; background-color:white; width:100px;padding-left:10px;padding-top:10px; padding-bottom:10px;">
            <span></span>
            @*<div class="tabel-operate" id="saleOff" style="display:none;">
                    <button type="button" id="infractionSaleOffBtn" onclick="batchInfractionSaleOff()" class="btn btn-default btn-ssm">违规下架</button>
                </div>*@
        </div>


    </div>



