<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>ChemCloud.Plugin.Express.Zhaijisong</PluginId>
  <DisplayName>其他运送方式</DisplayName>
  <ClassFullName>ChemCloud.Plugin.Express.Zhaijisong.Service,ChemCloud.Plugin.Express.Zhaijisong</ClassFullName>
  <Description>宅急送快递插件</Description>
  <Type>2</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion></MaxHimallVersion>
  <Enable>0</Enable>
</PluginInfo>