@using System.Collections
@{
    ViewBag.Title = "RegionalAndOverseasStorag";
}
@*海外仓储*@
<link href="~/Areas/Web/Content/css.css" rel="stylesheet" />
<link href="~/Content/inner-custom.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="~/Areas/Web/Images/icon.ico" media="screen" />
<link rel="stylesheet" href="~/Content/uikit.min.css" />
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/uikit.min.js"></script>
<style>
    #mohu {
        margin-top: -55px;
    }
     .top_fl {
        width: 446px;
    }
     ul{
         margin:0;
         padding:0;
     }
    .chang_bg{
        background: url(/Areas/Web/Images/img/chang.png);
        width: 133px;
        height: 1892px;
        float: left;
        background-size: 134px;
        margin-top: 22px;
    }
    .chang_h1{
        background: rgb(230,248,246);
        height: 90px;
        margin-top: 53px;
        line-height: 90px;
        border-bottom: 1px solid #ccc;
        text-indent: 42px;
            width: 1148px;
        font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    }
    .chang_h1_1{
        margin-top: 24px;
    }
    #divNews{
        height: 1920px;
    }
</style>
<div id="divNews">
    <div class="content">
        <div class="main-left">
            <div class="chang_bg">

            </div>
        </div>
        <div class="main-right">
            <div class="uk-container uk-container-center">

                <h1 class="chang_h1">海外仓储的优势</h1>
                <div class="uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>
                    <div class="">
                        <div class="uk-panel" data-uk-scrollspy="{cls:'uk-animation-fade'}">
                            <img src="~/Areas/Web/Images/img/chang_2.png" alt="Alternate Text" />
                        </div>
                    </div>
                </div>

                <h1 class="chang_h1 chang_h1_1">海外仓储的合作模式</h1>

                <div class="uk-grid" data-uk-scrollspy="{cls:'uk-animation-fade uk-invisible', target:'> div > .uk-panel', delay:300, repeat: true}">

                    <div class="">
                        <div class="uk-panel uk-invisible">
                            <img src="~/Areas/Web/Images/img/chang_5.png" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
                <div class="test uk-grid" data-uk-scrollspy="{cls:'uk-animation-fade uk-invisible', target:'> div > .uk-panel', delay:300, repeat: true}">
                    <div class="">
                        <div class="uk-panel uk-invisible">
                            <img src="~/Areas/Web/Images/img/chang_6.png" alt="Alternate Text" />
                        </div>
                    </div>
                </div>


                <div class="test uk-grid" data-uk-scrollspy="{cls:'uk-animation-scale-up uk-invisible', target:'> div > .uk-panel', delay:300, repeat: true}" data-uk-grid-margin>
                    <div class="">
                        <div class="uk-panel uk-invisible">
                            <img src="~/Areas/Web/Images/img/chang_8.png" alt="Alternate Text" />
                        </div>
                    </div>
                </div>

             

                <div class="test uk-grid" data-uk-scrollspy="{cls:'uk-animation-scale-down uk-invisible', target:'> div > .uk-panel', delay:300, repeat: true}">
                    <div class="">
                        <div class="uk-panel uk-invisible">
                            <img src="~/Areas/Web/Images/img/chang_10.png" alt="Alternate Text" />
                        </div>
                    </div>
                </div>

                <div class="test uk-grid" data-uk-scrollspy="{cls:'uk-animation-slide-left uk-invisible', target:'> div > .uk-panel', delay:300, repeat: true}">
                    <div class="">
                        <div class="uk-panel uk-invisible">
                            <img src="~/Areas/Web/Images/img/chang_12.png" alt="Alternate Text" />   
                        </div>
                    </div>
                </div>


                <div class="test uk-grid" data-uk-scrollspy="{cls:'uk-animation-slide-right uk-invisible', target:'> div > .uk-panel', delay:300, repeat: true}">
                    <div class="">
                        <div class="uk-panel uk-invisible">
                            <img src="~/Areas/Web/Images/img/chang_15.png" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>