/*2015-1-5  Five-xlx QQ:673921852*/

/*bootstrap重写----- */
body { font-size: 12px; background-color: #f4f6f8; }
::selection { background: #eb7350; color: #fff; }
label, b { font-weight: normal; margin: 0; color: #999; }
input[type=text] { -webkit-appearance: none; }
input[type=checkbox], input[type=radio] { vertical-align: middle; margin: 0 0 0 5px; }
span { display: inline-block; }
em { font-style: normal; }
ul { padding: 0; margin: 0; }
li { list-style: none; }
p { margin: 0; }
h3 { margin: 0; }
h4 { font-size: 13px; margin: 15px 0px; }
h5 { font-size: 13px; }
h6 { font-size: 11px; }
s { text-decoration: none; }
a { color: #333; -webkit-tap-highlight-color: rgba(255,0,0,0); }
a:hover, a:focus { text-decoration: none; }
a:active, a:hover { color: #e73641; }
.container { max-width: 640px; padding: 0; overflow: hidden; }
.color { color: #e73641; }
.input-xs { height: 34px; padding: 2px 5px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.gray { color: #999; }
.red { color: #e73641; }
.red:active { color: #bb3333; text-decoration: underline; }
.block { display: block; }
.mt10 { margin-top: 10px; }
.mb10 { margin-bottom: 10px; }
.f14 { font-size: 14px; }
.btn-primary { background-color: #e73641; border-color: #d02e39; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { background-color: #dd212d; border-color: #cc1722; }
.progress-sm { height: 14px; border-radius: 2px; }
.list-group .list-group-item { border-left: 0; border-right: 0; }
.list-group { margin-bottom: 10px; }
/*首页--------- */
header { height: 56px; border-bottom: 1px solid #d7d7d7; background-color: #fafafc; padding: 10px 20px; }
.search { position: relative; width: 100%; }
.search input { height: 36px; border: 0; border-radius: 36px; width: 100%; padding-right: 40px; background-color: #ebebeb; outline: none; padding-left: 20px; }
.search i { position: absolute; right: 10px; top: 3px; color: #e73641; font-size: 20px; padding: 5px; }
.head-btn-bar { position: relative; padding: 10px 20px 10px 45px; }
.head-btn-bar .glyphicon-home { position: absolute; top: 16px; left: 10px; font-size: 24px; color: #999; }
.head-btn-bar .glyphicon-home:active { color: #e73641; }
#slides { position: relative; margin-bottom: 10px; overflow: hidden; max-height: 320px; min-height: 100px; }
#slides img { width: 100%; }
.slidesjs-pagination { position: absolute; left: 0; bottom: 6px; width: 100%; text-align: center; z-index: 100; -webkit-padding-start: 0; }
.slidesjs-pagination li { display: inline-block; margin: 0 1px; vertical-align: middle; }
.slidesjs-pagination li a { display: block; width: 16px; height: 0; padding-top: 12px; overflow: hidden; background-color: #fff; margin-right: 4px; border-radius: 100%; border: 2px solid transparent; }
.slidesjs-pagination li a.active { background-color: transparent; border-color: #fff; width: 22px; padding-top: 18px; }
.index-title { }
.index-title img { width: 100%; }
.recom-topic li { width: 100%; overflow: hidden; margin: 10px 0; position: relative; float: left; height: 100px; z-index: 10; }
.recom-topic li img { width: 100%; }
.recom-topic li p { background-color: rgba(30,29,36,.7); height: 50px; position: absolute; bottom: 0; left: 0; margin: 0; width: 100%; }
.recom-topic li p span { display: inline-block; line-height: 30px; margin-top: 9px; border: 1px solid #fff; color: #fff; padding: 0 20px; margin-left: 20px; font-size: 14px; max-width: 160px; overflow: hidden; height: 30px; }
.p-img { display: block; overflow: hidden; text-align: center; min-height: 100px; }
.p-img img { max-width: 100%; max-height: 100%; background: none; }
.goods-list { margin-top: 10px; background-color: #fff; }
.goods-list li { width: 50%; float: left; position: relative; border-top: 1px solid #e3e3e3; padding-bottom: 10px; }
.goods-list li:nth-child(2n-1) { border-right: 1px solid #e3e3e3; }
.goods-list li i { position: absolute; display: block; width: 46px; height: 28px; text-align: center; line-height: 30px; color: #fff; background-color: #e73641; top: 0; right: 10px; font-style: normal; }
.goods-list li i:after { content: ''; display: inline-block; border-top: 6px solid #e73641; border-left: 23px solid transparent; border-right: 23px solid transparent; position: absolute; top: 28px; left: 0; }
.goods-list li h3 { font-size: 14px; }
.goods-list li h3 a { color: #000; text-align: center; margin: 0 10px; height: 30px; line-height: 32px; overflow: hidden; display: block; }
.goods-list li h3 a:active { color: #e73641; }
.goods-list li p { padding: 0 10px; font-size: 12px; }
.goods-list li p span { color: #e73641; }
.goods-list li p s { color: #9a999c; float: right; text-decoration: line-through; }
/*.goods-list li{ background-color:#f9f9f9;}*/

.loading { width: 100%; height: 50px; text-align: center; padding-top: 10px; border-top: 1px solid #e3e3e3; background-color: #fff; }
.loading { text-align: center; line-height: 30px; color: #999; font-size: 14px; }
.loading span { padding: 15px 50px; background: url(../images/loading2.gif) center no-repeat; background-size: 64px; }
/*专题-----------*/
.banner { margin-bottom: 10px; }
.banner img { width: 100%; }
.tab-hd { margin: 0 -5px; }
.tab-hd div { padding: 0 5px; }
.tab-hd a { text-align: center; display: block; line-height: 30px; border: 1px solid #ddd; cursor: pointer; }
.tab-hd div.cur a { color: #fff; border-color: #e73641; background-color: #e73641; }
.fixed-box { }
.fixed { background-color: #fff; box-shadow: 0 1px 2px rgba(0,0,0,.1); position: fixed; top: 0; left: 0; z-index: 777; padding: 5px 0; }
/*产品详情页---------*/
.goods-info { padding: 10px 5px; background-color: #fff; box-shadow: 0 0 3px rgba(204, 204, 204, 0.5); }
.details { margin-top: 10px; height: 43px; padding-top: 1px; font-weight: bold; font-size: 13px; }
.glyphicon-share { position: absolute; right: 0; font-size: 18px; padding: 3px 12px; border-left: 1px solid #ddd; color: #999; }
.glyphicon-shareIn { font-size: 10px; display: block; margin-left: -4px; }
.goods-info p s { color: #999; text-decoration: line-through; }
.goods-info .item { padding: 0 10px; border-bottom: 1px solid #ddd; position: relative; }
.goods-info .item:last-child { border-bottom: 0; }
.goods-info .item .glyphicon-menu-right { position: absolute; right: 10px; top: 50%; margin-top: -6px; color: #999; }
.goods-info h4 span { float: right; color: #999; font-size: 12px; margin-top: 3px; }
.goods-info .promotion { padding: 10px 0; }
.goods-info .promotion label, .goods-info .spec label, .goods-info .buy-num label { width: 50px; }
.goods-info .promotion span { padding: 0 5px; line-height: 24px; background-color: #e73641; color: #fff; margin-right: 10px; }
.goods-info .spec { padding-top: 10px; position: relative; }
.goods-info .spec label { position: absolute; line-height: 26px; }
.goods-info .item .spec:last-child { padding-bottom: 10px; }
.goods-info .spec span { line-height: 34px; border: 1px solid #ddd; padding: 0 6px; margin-right: 10px; cursor: pointer; margin-bottom: 10px; min-width: 50px; text-align: center; }
.goods-info .spec span.selected { border-color: #e73641; position: relative;}
.goods-info .spec span.selected::after { content: ''; position: absolute; right: 0; bottom: 0; background: url(../images/c.png) no-repeat; width: 15px; height: 16px; display: block; }
.goods-info .spec span.disabled { color: #999; cursor: not-allowed; }
.goods-info .detail-anchor { padding: 12px 0; }
.goods-info .buy-num { padding: 10px 0; line-height: 2; }
.goods-info .buy-num .wrap-num { display: inline-block; font-size: 0; }
.wrap-num .glyphicon { border: 1px solid #ddd; color: #666; padding: 10px; font-size: 12px; top: 0; }
.wrap-num input { display: inline-block; width: 50px; text-align: center; border-radius: 0; box-shadow: none; border-left: 0; border-right: 0; -webkit-appearance: none; vertical-align: top; }
.btn-go-shop { position: absolute; right: 10px; top: 8px; }
.goods-info .shop-score { padding: 10px 0; }
.shop-score em { color: #e73641; margin-right: 30px; }
#jd-price { font-weight: bold; }
.comment, .comment-shop { padding: 0 15px; background-color: #fff; box-shadow: 0 0 3px rgba(204, 204, 204, 0.5); }
.comment-hd { line-height: 45px; color: #999; }
.comment-hd strong { font-size: 14px; margin-right: 15px; color: #333; }
.comment-hd span { color: #e73641; }
.comment-hd em { float: right; }
.comment ul li { border-top: 1px solid #ddd; padding: 10px; }
.comment ul li .glyphicon { color: #ec971f; margin: 0 -1px; }
.comment ul li .name { margin-right: 10px; }
.comment ul li em { float: right; }
.comment ul li p { margin-top: 10px; }
.comment ul li h6 span { margin-right: 30px; color: #999; }
.comment ul li.more { text-align: center; }
.goods-img { background-color: #fff; margin-top: 10px; padding: 10px; }
.goods-img img { max-width: 100%; height: auto; display: block; }
/*评论页------- */
.evaluate { padding-top: 10px; }
.comment .progress { width: 50%; display: inline-block; margin: 0 5px; }
.comment ol li { color: #999; margin-top: 3px; }
.total-evaluate { float: left; width: 25%; color: #e73641; }
.total-evaluate * { display: block; text-align: center; }
.total-evaluate strong { font-size: 20px; line-height: 36px; }
.comment-tab { background-color: #f2f2f2; border-radius: 0 0 3px 3px; border: 1px solid #ddd; padding: 6px 0; }
.comment-tab span { text-align: center; }
.comment-tab span + span { border-left: 1px solid #fff; border-right: 1px solid #ddd; }
.comment-tab span:first-child { border-right: 1px solid #ddd; }
.comment-tab a.active { color: #e73641; }
.comment-bar { padding: 10px 0; border-top: 1px solid #ddd; }
.comment-bar img { float: left; margin-right: 10px; }
.comment-content { padding-bottom: 10px; }
.comment-content p { margin: 10px 0; }
.star-score { font-size: 20px; color: #999; top: 3px; position: relative; }
.star-score i { margin-right: -3px; }
.star-score i.l { color: #ec971f; }
.star-score i.b { color: #ddd; }
.comment-shop { margin: 10px 0; padding: 10px 10px 40px 10px; }
.comment-shop p { padding: 5px 0; }
.comment-shop p label { margin-right: 10px; }
/*购买页面------- */
.well { padding: 10px 20px; background-color: #fff; }
.well p { padding: 5px; position: relative; line-height: 20px; }
.well p span { float: right; }
.well p .glyphicon { position: absolute; right: -10px; top: 10px; }
.buy-goods { padding: 10px 0; }
.buy-goods img { float: left; width: 50px; height: 50px; margin-right: 10px; }
.buy-goods p { line-height: 20px; }
.buy-goods h6 { margin: 0; }
.buy-goods h6 em { float: right; }
.buy-goods h6 span { width: 55%; overflow: hidden; text-overflow: ellipsis; height: 13px; white-space: nowrap; }
.goods-info .goods-shop { padding: 0 0 10px; }
.buy-enter { background-color: #fff; border-top: 1px solid #ddd; padding: 15px; position: fixed; width: 100%; bottom: 0; left: 0; color: #e73641; font-size: 16px; }
.buy-enter .btn { margin-left: 20px; }
.buy-total { padding: 15px 0; text-align: center; font-size: 16px; }
.buy-total span { color: #e73641; }
.goods-info .btn-block { margin-bottom: 15px; }
/*搜索页-------- */
.search-list { padding: 10px 20px 0 10px; background-color: #fff; }
.search-list li { width: 50%; border: 1px solid #ddd; float: left; margin: 0 10px 10px 0; padding-bottom: 5px; }
.search-list li:nth-child(2n) { margin-right: -10px; }
.search-list li img { width: auto; height: auto; }
.search-list li h3 { font-size: 14px; color: #444; padding: 8px 10px 0 10px; margin-bottom: 8px; line-height: 18px; height: 44px; word-break: break-all; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.search-list li p { padding: 0 10px 4px; }
.crossrange { padding: 0 10px; }
.crossrange li { width: 100%; margin: 0; border: 0; border-bottom: solid 1px #f3f3f3; padding: 15px 0; }
.crossrange li .p-img { width: 100px; height: 100px; float: left; margin-right: 10px; }
.crossrange li img { max-width: 100px; max-height: 100px; }
.crossrange li h3 { padding: 0; height: 36px; }
.s_found { padding: 10px; background-color: #fff; }
.fixed-inner { background-color: #fff; border-bottom: solid 1px #DDD; height: 44px; width: 100%; padding: 0; }
.fixed-inner a { color: #666; height: 43px; line-height: 43px; text-align: center; width: 20%; display: block; float: left; font-size: 14px; }
.fixed-inner a + a { border-left: solid 1px #EEE; }
.fixed-inner a.select { color: #E33B3D; }
.icon_sort { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYCAYAAADzoH0MAAAA1ElEQVR42u2UTQrCMBCFI/UAFa+gVjxFEQ9TPE8RcoB6C/EE/uzFtfizEHd1o28kA4O0NZNuDXzdfY+SmTxjao61dgrO4ARSozkQJuABXo47SHzlPjgKmTmA+JfcBesKmVmBqE7ugEWDzOR18txDZrLvgBl4KgJKmhLLI3BTyMwVDClgHyAzWwpYKn+fIacw//MZY9HqEvHZtBjjjgIGbim08oVcWR5l0CqLu8iCH5MIyYOeswiIXGnoC0WExK6+qiqt57sbiStSWapj7YKlrtIba/0NqA5XS9NeO6AAAAAASUVORK5CYII=); width: 8px; height: 12px; display: inline-block; background-size: 8px 12px; -webkit-background-size: 8px 12px; overflow: hidden; margin-left: 3px; vertical-align: -2px; }
.icon_sort_single {
 background-image: url(data:image/png;
base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAkElEQ…xkb8zHFph4NRKTkEYNoIIBT/AY8IQYAzyA+DkWzSAxD3T1AGfIcMiAc+6HAAAAAElFTkSuQmCC); width: 8px; height: 9px; display: inline-block; background-size: 8px 9px; -webkit-background-size: 8px 9px; overflow: hidden; margin-left: 3px; }
.state_switch .icon_sort_single { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAlElEQVR42mNgQANpaWn2QHwSiP+jYZCYPQMhAFT0HItmGH5OjAH/8eFRA2hhAFBwPhB/I6QRCwbpmQ8y4AwZmuGJC2SAChC/IkMzSI8KzBtOQPyTBM0gtU7oYZFGggFpuGJgMhGaJ+OLQmYg3oVHM0iOmVA64Afi21g0g8T4GYgB0Jj5gKT5AzzEiQXQguUJFOMsSAD1NXDFkXt2/wAAAABJRU5ErkJggg==); }
.icon_switch { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUAAABmZmZ+SwYRAAAAAXRSTlMAQObYZgAAABxJREFUeNpj+P/H/j8DmDjAY8BMGoHQiw1QxWQAYWQttdWMsqkAAAAASUVORK5CYII=); width: 16px; height: 16px; display: inline-block; background-size: 16px 16px; -webkit-background-size: 16px 16px; overflow: hidden; vertical-align: -2px; margin: 0 5px; }
.select .icon_sort { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYCAYAAADzoH0MAAAA2ElEQVR42u3UzQmDMBjG8YAL1B2EukMp1Exj97EHB7BT1AlKcQCPPQj24rXtwT4P+IKIiUnODfxANP8X/EClDOt5OGbQTU7KZyFIYYBxwuO9axxDO4sFz+224gjqlVjcuMc2oLDEojDFuUMs8mWs4e0xgHu1xAn0HrFgk3DAPSAWDQdc4RsQs6nUfylVlmUFHxg9sak44BEQi4YDEngFxD1buQ0Nb4+Ye/XyWZw9BuSmB3pxiAvbG4mgtsS8Fm291hjalZjnYtdvI4VhFvM49f3AMugmxt/6DwgMIppbpINyAAAAAElFTkSuQmCC); }
.state_switch .icon_sort { transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.select.state_switch .icon_sort_single { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAlUlEQVR42mNgQAOPrW3tgfgkEP9HwyAxewZCAKjoORbNMPycGAP+48OjBtDCAKDgfCD+RkgjFgzSMx9kwBkyNMMTF8gAFSB+RYZmkB4VmDecgPgnCZpBap3QwyKNBAPScMXAZCI0T8YXhcxAvAuPZpAcM6F0wA/Et7FoBonxMxADoDHzAUnzB3iIEwugBcsTKMZZkAAAZgCM9be+9J4AAAAASUVORK5CYII=); }
.state_switch .icon_switch { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUAAABmZmZ+SwYRAAAAAXRSTlMAQObYZgAAACFJREFUeNpj+P+HgYEBTBzgARP2/2EEQgyHLEIvNkAVkwEkzym53pX1XwAAAABJRU5ErkJggg==); }
.switch i { vertical-align: middle; }
.search_screen { float: right; padding: 5px; margin: -5px 0; cursor: pointer; font-size: 14px; }
.screen { position: fixed; height: 100%; width: 90%; background-color: #f4f6f8; z-index: 999; top: 0; right: -90%; }
.cover { position: fixed; height: 100%; width: 100%; z-index: 888; background-color: rgba(0,0,0,.4); top: 0; left: 0; display: none; }
.screen_hd { padding: 10px; border-bottom: 1px solid #ddd; text-align: center; font-size: 16px; line-height: 30px; background-color: #fff; z-index: 10; position: absolute; width: 100%; top: 0; right: 0; }
.screen_bd { padding: 60px 0 10px; width: 100%; height: 100%; overflow-y: scroll; }
.screen .list-group-item { font-size: 14px; }
.screen .list-group-item ol { padding: 0; margin-bottom: -10px; margin-top: 10px; margin-right: -10px; color: #666; font-size: 12px; display: none; }
.screen ol li { border-bottom: 1px solid #ddd; padding: 10px; }
.screen ol li:last-child { border-bottom: 0 none; }
.screen ol li span { max-width: 200px; height: 17px; overflow: hidden; }
.screen .glyphicon { color: #999; }
.screen ol li .glyphicon-ok { padding: 3px; border-radius: 100%; border: 1px solid #ddd; color: #fff; }
.screen ol li.selected .glyphicon-ok { border-color: #00C55A; background-color: #00C55A; }
.screen .single-select .glyphicon-ok { display: none; }
.screen .single-select .selected .glyphicon-ok { display: block; }
.screen .list-group-item em { float: right; margin-right: 15px; color: #999; }
/*微店---------- */
.vshop-section { padding: 0 10px; }
.vshop-section h5 { padding-left: 5px; border-left: 2px solid #333; }
.vshop-banner { position: relative; }
.vshop-banner img { width: 100%; min-height: 70px; }
.vshop-des { width: 94%; position: absolute; bottom: 10px; left: 3%; background-color: rgba(0,0,0,.3); color: #fff; padding: 10px; z-index: 1; }
.vshop-des p, .two-overflow { overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; word-break: break-all; height: 40px; line-height: 20px; -webkit-box-orient: vertical; display: -webkit-box; }
.vshop-des a { color: #fff; }
.vshop-banner .btn { position: absolute; top: 10px; right: 10px; z-index: 2; }
.vshop-section .vshop-item { padding: 15px 10px 5px; margin-bottom: 15px; background-color: #fff; border-radius: 20px 0 0 0; }
.v-goods { padding-right: 10px; margin-top: 10px; }
.v-goods li { width: 50%; float: left; border: 1px solid #eee; margin-bottom: 10px; }
.v-goods li:nth-child(2n) { float: right; margin-right: -10px; }
.v-goods .p-img { position: relative; padding-top: 100%; height: 0; overflow: hidden; }
.v-goods .p-img img { position: absolute; top: 0; display: block; width: 100%; max-height: 1000px; }
.v-goods h3 a { color: #000; margin: 5px 10px 0; height: 24px; line-height: 26px; overflow: hidden; display: block; font-size: 12px; }
.v-goods li p { padding: 0 10px; font-size: 12px; margin-bottom: 8px; }
.v-goods li p span { color: #e73641; }
.vshop-head { position: relative; }
.vshop-head .v-logo { display: block; position: relative; height: 30px; margin-bottom: 15px; line-height: 30px; margin-right: 75px; }
.vshop-head img { width: 60px; height: 30px; float: left; margin-right: 10px; }
.vshop-head p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 14px; }
.vshop-head .btn { position: absolute; right: 10px; top: 0; }
.more-btn { text-align: center; padding: 10px 0; background: #fff; margin-top: -10px; }
.vshop-section.vshop-list .vshop-item { border-radius: 2px; padding: 10px; }
.vshop-list li { position: relative; }
.vshop-list a.btn { position: absolute; top: 10px; right: 10px; }
.vshop-banner .vshop-info { background: rgba(123,123,123,.4); color: #fff; position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; padding: 5px; }
.vshop-banner .vshop-info h3 a { color: #fff; font-size: 14px; line-height: 24px; }
.vshop-banner .vshop-info em { margin: 0 10px; }
.vshop-bar { background-color: #fff; padding-top: 10px; margin-top: -10px; border-bottom: 1px solid #ddd; }
.vshop-bar .vshop-head { padding: 0 10px; }
.vshop-bar .vshop-head .v-logo { margin-bottom: 10px; }
.vshop-bar .nav { overflow: hidden; border-top: 1px solid #ddd; display: table; width: 100%; }
.vshop-bar .nav li { position: relative; display: table-cell; text-align: center; }
.vshop-bar .nav li + li:before { width: 1px; height: 16px; position: absolute; top: 10px; left: 0; background-color: #ddd; content: ''; display: block; }
.vshop-bar .nav > li > a { padding: 10px 5px; }
.list-group-item .v-logo { margin-bottom: 0; }
.vshop-cate { display: block; width: 100%; position: static; }
.vshop-cate .screen_bd { overflow: hidden; }
.vshop-cate ol li a { display: block; }
.vshop-coupon { width: 100%; height: 70px; overflow: hidden; position: relative; margin: 10px 0; }
.vshop-coupon ul { position: absolute; left: 0; top: 0; height: 100%; overflow: visible; white-space: nowrap; }
.vshop-coupon li { padding: 0 3px; height: 70px; display: inline-block; white-space: normal; }
.vshop-coupon li div { border: 2px solid #e73641; border-right: 1px dashed #000; background: #fff; float: left; height: 100%; width: 64%; padding: 5px 0 0 4px; overflow: hidden; }
.vshop-coupon li div * { display: block; }
.vshop-coupon li div h3 { font-size: 14px; height: 15px; overflow: hidden; }
.vshop-coupon li div strong { font-weight: normal; color: #e73641; font-size: 16px; text-align: center; padding-top: 5px; }
.vshop-coupon li a { display: block; width: 36%; height: 100%; text-align: center; background-color: #e73641; color: #fff; float: left; padding: 17px 0; }
/*分类页----------*/
.category-box { padding-top: 56px; margin-top: -56px; height: 100%; width: 100%; overflow: hidden; }
.category1 { height: 100%; float: left; width: 25%; background-color: #f3f3f3; position: relative; }
.category1 ul { position: absolute; left: 0; width: 100%; }
.category1 li { width: 100%; float: left; height: 44px; line-height: 44px; padding: 0 10px; background-color: #f3f3f3; border-top: 1px solid #e5e5e5; font-size: 14px; position: relative; }
.category1 li.cur { color: #e73641; }
.category1 li.cur:before { position: absolute; right: 0; top: 50%; margin-top: -5px; content: ''; display: block; display: inline-block; border-width: 6px; border-color: transparent #fff transparent transparent; border-style: dashed solid dashed dashed; }
.category2 { height: 100%; float: right; width: 75%; background-color: #fff; -webkit-overflow-scrolling: touch; }
.category2 dl { padding: 0 10px 10px 10px; margin: 0; display: none; }
.category2 dt { margin-top: 5px; line-height: 2; color: #333; font-size: 14px; font-weight: normal; }
.category2 dd { padding-right: 10px; }
.category2 dd a { float: left; width: 33.33%; min-height: 80px; font-size: 12px; padding: 4px 0; margin: 5px 5px 5px 0; text-align: center; background-color: #f8f8f8; }
.category2 dd a:nth-child(3n) { margin-right: -10px; }
.category2 dd span { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 30px; line-height: 34px; }
/*会员中心---------- */
.list-group .glyphicon { float: right; }
.list-group .glyphicon-menu-right { color: #999; font-size: 12px; }
.list-group-item { border-radius: 0 !important; }
.my_menu { border: 1px solid #ddd; background-color: #fff; padding: 8px 0; margin-bottom: 10px; }
.my_menu li { float: left; width: 25%; text-align: center; line-height: 40px; }
.my_menu li + li { border-left: 1px solid #ddd; }
.my_menu li.active a { color: #e73641; }
.user-info { padding: 10px 15px; }
.user-info img { width: 50px; height: 50px; border-radius: 100%; float: left; margin-right: 20px; }
.user-info p { padding: 16px 0; }
.user-fav { background-color: #3498DB; padding: 5px 0; margin-bottom: 10px; border-top: 1px solid #ddd; }
.user-fav span { text-align: center; }
.user-fav a { color: #fff; }
/*我的订单---------- */
.order-list { margin-bottom: 10px; }
.order-list li { background-color: #fff; margin-top: 10px; padding: 0 10px; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; }
.order-list li h6 { padding: 10px 0; border-bottom: 1px solid #eee; margin: 0; }
.order-list .order-goods { padding: 10px 0; border-bottom: 1px solid #eee; }
.order-list .order-goods img { float: left; margin-right: 10px; }
.order-list .order-goods p { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.order-list .order-btn, .order-list .order-text { padding: 8px 0; text-align: right; }
.order-list .order-text { border-bottom: 1px solid #eee; }
.order-list .order-text a { display: block; }
.order-list .order-text span { margin-left: 20px; }
.order-btn a { margin-left: 10px; }
.order-list .order-info { padding: 8px 0; line-height: 2; }
.order-list .acount { font-size: 14px; border-bottom: 1px solid #eee; }
.list-group .list-group-item-text p { padding: 2px 0; line-height: 20px; }
.list-group .list-group-item-text p span { width: 60px; text-align: right; }
.goods_interflow { padding: 10px 0 10px 10px; }
.goods_interflow li { padding-left: 20px; border-left: 2px solid #ddd; position: relative; }
.goods_interflow li p { line-height: 22px; }
.goods_interflow li hr { padding-bottom: 10px; margin: 5px 0 0; }
.goods_interflow li i { position: absolute; top: 16px; left: -7px; width: 12px; height: 12px; background-color: #428bca; border-radius: 100%; }
.goods_interflow li i.active { background-color: #f0ad4e; }
.title { background-color: #fff; text-align: center; padding: 10px; font-size: 16px; border-bottom: 1px solid #ddd; }
/*收货地址 ------ */
.address { padding-top: 20px; background-color: #fff; overflow: hidden; }
.address li:first-of-type { border-top: 1px solid #ddd; }
.address p, .address h6 { padding: 0 40px 0 25px; line-height: 20px; font-size: 14px; }
.address h6 { margin: 5px 0; }
.address li { position: relative; }
.address li .glyphicon { position: absolute; top: 50%; }
.address li .glyphicon-pencil { font-size: 20px; padding: 5px; right: 10px; color: #999; margin-top: -15px; }
.address li .glyphicon-pencil:active, .address li .glyphicon-pencil:hover { color: #e73641; }
.address li .glyphicon-ok { display: none; background-color: #e73641; color: #fff; left: 8px; border-radius: 100%; padding: 5px; margin-top: -20px; }
.address li .glyphicon-ok.active { display: inline-block; }
.custom-form { background-color: #fff; padding: 20px 30px; box-shadow: 0 0 6px rgba(204,204,204,.5); }
.custom-title { text-align: center; margin: 0 0 20px; background-color: #fff; }
/*购物车 ------ */
.cart { /*border-top:1px solid #c2c2c2; border-bottom:1px solid #c2c2c2;*/ padding-top: 40px; }
.top-nav { color: #0e7be0; text-align: right; padding: 10px; font-size: 14px; position: fixed; top: 0; left: 0; width: 100%; background-color: #f4f6f8; z-index: 999; border-bottom: 1px solid #c2c2c2; }
.top-nav .glyphicon-trash { margin-right: 5px; }
.cart li { padding: 0 0 0 10px; margin-bottom: 10px; }
.check-custom { border: 2px solid #6d6d6e; color: #fff; left: 0; top: 50%; margin-top: -10px; font-size: 12px; border-radius: 100%; padding: 2px; position: absolute; z-index: 10; }
.check-custom.active { background-color: #e73641; border-color: #e73641; }
.cart .list-group-item div { position: relative; }
.cart .cart-shop { padding: 10px 0; font-size: 14px; border-bottom: 1px solid #d7d7d7; line-height: 24px; }
.cart .cart-shop span { margin-left: 30px; line-height: 24px; }
.cart .cart-shop span img { margin-right: 5px; }
.cart .cart-goods { padding: 10px 0; height: 90px; }
.cart .cart-remove { color: #e73641; float: right; margin: 10px 10px 0 0; }
.cart .cart-disable { background-color: #efefef; color: #999; }
.cart .cart-goods img { width: 70px; height: 70px; float: left; margin: 0 10px 0 30px; }
.cart .cart-goods p { font-size: 14px; position: relative; padding-right: 70px; line-height: 18px; height: 37px; overflow: hidden; }
.cart .cart-disable p a { color: #999; }
.cart .cart-disable { }
.cart .cart-goods span { position: absolute; right: 10px; top: 12px; }
.cart .cart-subtotal { padding: 10px; text-align: right; font-size: 14px; border-top: 1px solid #d7d7d7; }
.cart .cart-subtotal span { color: #e73641; }
.cart .wrap-num .glyphicon { padding: 7px 10px; font-size: 12px; }
.cart .wrap-num .glyphicon-minus { border-right: 0; }
.cart .wrap-num .glyphicon-plus { border-left: 0; }
.wrap-num .glyphicon { float: none; }
.cart .wrap-num { font-size: 0; margin-top: 4px; display: inline-block; }
.cart .wrap-num input { border: 1px solid #ddd; height: 28px; line-height: 28px; outline: none; font-size: 12px; }
.footer-cart { height: 50px; background-color: #f5f7f9; border-top: 1px solid #ddd; }
.footer-cart .cart-pay { display: block; height: 50px; position: absolute; right: 0; top: 0; background-color: #e73641; color: #fff; text-align: center; font-size: 16px; line-height: 50px; width: 100px; }
.footer-cart .cart-pay b { font-size: 12px; }
.footer-cart .check-custom { left: 10px; }
.footer-cart label { padding-left: 40px; line-height: 50px; font-size: 14px; vertical-align: top; }
.footer-cart .cart-total { padding: 5px 15px; width: 200px; display: inline-block; line-height: 40px; font-size: 14px; }
.footer-cart .cart-total b { display: block; line-height: 20px; font-size: 12px; }
.footer-cart .cart-total a { color: #e73641; }
.footer-cart .cart-total b:last-child { color: #999; }
.footer-cart .cart-total-lg { width: 250px; }
/*优惠劵-------- */
.coupon { position: relative; }
.coupon-view { width: 100%; height: 200px; background: url(../images/coupon.jpg) repeat-x left bottom #e73641; background-size: auto 4px; color: #fff; text-align: center; }
.coupon-view h3 { padding: 90px 0 20px; }
.coupon-view p { line-height: 28px; font-size: 28px; }
.coupon-view p i { display: inline-block; width: 40px; height: 28px; background: url(../images/icon.png) no-repeat; background-size: 48px; vertical-align: middle; margin-right: 5px; }
.coupon .logo { position: absolute; left: 15px; top: 15px; max-width: 100px; max-height: 100px; }
.coupon-info { background-color: #fff; border-bottom: 1px solid #ddd; padding: 8px 10px; }
.coupon-info p { line-height: 24px; padding-left: 20px; }
.coupon-info p.time { position: relative; }
.coupon-info p.time i { width: 20px; height: 20px; display: block; position: absolute; left: 0; top: 2px; background: url(../images/icon.png) no-repeat 0 -30px; background-size: 48px; }
.coupon-info p span { color: #e73641; }
.coupon-btn { padding: 10px; }
.coupon-btn .btn { color: #e73641; background-color: #fff; border-color: #e73641; border-radius: 3px; }
.coupon-list .coupon-hd { padding: 10px; border-bottom: 1px solid #dbdcde; }
.coupon-list .coupon-hd span { width: 50%; text-align: center; border: 1px solid #e2e2e2; line-height: 32px; font-size: 14px; cursor: pointer; }
.coupon-list .coupon-hd span.active { background-color: #333; color: #fff; border-color: #333; }
.coupon-list .coupon-hd span:first-child { border-right: 0; border-radius: 3px 0 0 3px; }
.coupon-list .coupon-hd span:last-child { border-left: 0; border-radius: 0 3px 3px 0; }
.coupon-list .coupon-hd span.only-child { width: 100%; border: 1px solid #e2e2e2; }
.coupon-list .coupon-bd { padding: 0 10px; margin-bottom: 10px; }
.coupon-list .coupon-bd ul { display: none; }
.coupon-list .coupon-bd li { margin-top: 10px; border: 1px solid #e2e2e2; border-radius: 7px; overflow: hidden; }
.coupon-list .cou-card div { float: left; }
.coupon-list .cou-card { height: 70px; padding: 10px 15px; background: url(../images/coupon.jpg) repeat-x left bottom #e73641; background-size: auto 5px; }
.coupon-list .cou-card a { width: 50px; height: 50px; border-radius: 100%; background-color: #fff; text-align: center; line-height: 50px; display: table-cell; vertical-align: middle; font-size: 50px; }
.coupon-list .cou-card a img { width: 100%; vertical-align: middle; border-radius: 50px; display: inline; }
.coupon-list .cou-card p { color: #fff; font-size: 30px; float: left; margin-left: 30px; line-height: 50px; }
.coupon-list .cou-text { padding: 15px 10px; font-size: 14px; background-color: #fff; }
.coupon-list .cou-price { float: left; }
.coupon-list .cou-price h6 { color: #999; margin: 0; line-height: 20px; }
.coupon-list .cou-text a { float: right; color: #e73641; font-size: 16px; margin-top: 6px; }
.coupon-list .cou-text i { border: 1px solid #e73641; border-radius: 100%; padding: 2px; font-size: 12px; margin-left: 5px; top: 0; }
.coupon-list .disabled .cou-card { background-color: #ddd; background-image: url(../images/coupon-no.jpg); }
.coupon-list .disabled .cou-text a { color: #999; }
.coupon-list .disabled .cou-text i { border-color: #999; }
/*登录注册-------- */
.login { width: 100%; padding: 0 10px; position: absolute; top: 40%; }
.login h3 { margin: 40px 0; text-align: center; }
.login .btn { font-size: 16px; margin-bottom: 30px; }
.login .form-control { margin-bottom: 30px; }
 @media(max-height:480px) {
.login .form-control { margin-bottom: 20px; }
}
.login div.option { position: relative; }
.login div.option .glyphicon { position: absolute; left: 10px; top: 11px; color: #999; }
.login div.option input { padding-left: 30px; }
.login div.option input.code { width: 50%; padding-left: 12px; display: inline-block; }
.login div.option img { vertical-align: top; margin-left: 20px; width: 91px; height: 34px; border: 1px solid rgba(0,0,0,.2); padding: 1px; }
.login div.option .glyphicon-ok-circle, .login div.option .glyphicon-remove-circle { left: 50%; margin-left: -25px; }
.login div.option .glyphicon-ok-circle { color: #393; }
.login div.option .glyphicon-remove-circle { color: #F00; }
/*自定义弹框--------- */
.custom-dialog { width: 90%; position: fixed; top: 40%; left: 5%; padding: 10px 20px 20px; box-shadow: 0 0 10px rgba(0,0,0,5); border-radius: 5px; background-color: #fff; display: none; z-index: 999; }
.custom-dialog .btn { margin-top: 10px; }
/*loading----*/
.ajax-loading { width: 100%; height: 100%; position: fixed; z-index: 999999; background-color: rgba(0, 0, 0, 0.2); transition: all ease-in-out .5s; top: 0; left: 0; display: none; }
.ajax-loading p { width: 100px; height: 100px; padding-top: 60px; background: url(../images/progress.gif) no-repeat center; border-radius: 5px; background-color: rgba(0, 0, 0, 0.8); color: #fff; font-size: 16px; }
.lazyload { background: url(../images/loading.gif) no-repeat center; }
.app-error { width: 100%; height: 100%; background: url(../images/error.png) no-repeat center #fff; }
/*footer*/
.bottom { background: url(../images/logo.png) center 10px no-repeat #fff; background-size: 100px; padding: 50px 0 32px; text-align: center; font-family: 'simsun'; }
.wx_aside { position: fixed; z-index: 100; right: 0; bottom: 80px; width: 40px; background-color: rgba(0, 0, 0, 0.7); border-radius: 3px 0 0 3px; }
.wx_aside .btn_more, .wx_aside .btn_top { width: 40px; height: 40px; font-size: 0; text-indent: -9999em; overflow: hidden; display: block; }
.wx_aside .btn_more:after, .wx_aside .btn_top:after { width: 20px; height: 20px; content: '\20'; margin: 10px; float: left; background: url(../images/footer-icon.png) no-repeat; background-size: 20px; }
.wx_aside .btn_top { border-top: 1px solid #828282; display: none; }
.wx_aside .btn_more:after { background-position: 0 -155px; }
.wx_aside.active .btn_more:after { background-position: 0 -175.5px; }
.wx_aside .btn_top:after { background-position: 0 -132px; }
.wx_aside_item { display: none; position: absolute; top: -230px; right: 0; background-color: #fff; border: 1px solid #ddd; width: 115px; }
.wx_aside.active .wx_aside_item { display: block; }
.wx_aside_item a { line-height: 44px; height: 44px; overflow: hidden; display: block; margin: 0 15px; border-bottom: 1px solid #eee; font-size: 14px; }
.wx_aside_item a:last-child { border-bottom: 0 none; }
.wx_aside_item:before { content: ''; display: inline-block; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 5px solid #ddd; position: absolute; bottom: -6px; right: 14px; }
.wx_aside_item:after { content: ''; display: inline-block; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #fff; position: absolute; bottom: -5px; right: 15px; }
.wx_aside_item a:before { float: left; content: '\20'; width: 20px; height: 20px; background: url(../images/footer-icon.png) no-repeat; margin: 12px 5px 12px 0; background-size: 20px; }
footer { position: fixed; bottom: 0; left: 0; background-color: #f4f6f8; width: 100%; font-size: 12px; z-index: 100; }
footer div { width: 20%; float: left; border-top: 1px solid #ddd; }
footer div a { display: block; width: 100%; text-align: center; color: #999; }
footer div i { display: inline-block; width: 20px; height: 20px; background: url(../images/footer-icon.png) no-repeat; margin: 6px 0 3px; background-size: 20px auto; }
footer div i.vshop, .wx_aside_item a.vshop:before { background-position: 0 -20px; }
footer div i.classify, .wx_aside_item a.classify:before { background-position: 0 -41px; }
footer div i.user, .wx_aside_item a.user:before { background-position: 0 -62.9px; }
footer div i.f-cart, .wx_aside_item a.f-cart:before { background-position: 0 -197px; }
footer div i.attention, .wx_aside_item a.attention:before { background-position: 0 -85px; }
footer div i.collect, .wx_aside_item a.collect:before { background-position: 0 -109px; }
footer div p { margin-bottom: 3px; line-height: 14px; }
footer div.current a { color: #e73641; }
footer div.current i, footer div:hover i { background-image: url(../images/footer-icon-hover.png); }
footer span { width: 50%; display: block; float: left; text-align: center; line-height: 40px; border-top: 2px solid #ddd; }
footer span + span { border-left: 1px solid #ddd; }
footer .ft-buy, footer .ft-fav { float: left; }
footer .ft-buy { width: 60%; }
footer .ft-fav { width: 40%; }
.footer-buy { background-color: #f4f6f8; padding: 7px 0; border-top: 1px solid #ddd; text-align: center; }
.footer-buy .btn { margin: 0 5px; vertical-align: bottom; font-size: 10px; padding: 7px 20px; }
.gly-collect { border: 1px solid #ddd; padding: 6px; border-radius: 3px; color: #999; font-size: 20px; margin-left: 5px; }
.gly-collect.red { color: #3498DB; }
.countime { display: inline-block; line-height: 34px; margin-right: 10px; font-size: 14px; }
.countime s { color: #e73641; font-size: 14px; }
.topic-list { padding: 10px; }
.topic-list li { width: 100%; position: relative; margin-bottom: 10px; }
.topic-list li img { width: 100%; }
.topic-list li div { position: absolute; top: 50%; margin-top: -10px; text-align: center; width: 100%; }
.topic-list li p { display: inline-block; padding: 12px 45px; background: rgba(0,0,0,0.5); font-size: 20px; color: #fff; line-height: 36px; position: relative; }
.topic-list li p:after { border-bottom: 1px solid #ff2626; content: ''; width: 100%; height: 0; position: absolute; bottom: 11px; left: 0; }
.topic-list li p span { border-bottom: 1px solid #fff; margin-bottom: -1px; display: block; z-index: 1; position: relative; }
.topic-list li:nth-child(2n) p { background: rgba(255,255,255,0.5); color: #020202; }
.topic-list li:nth-child(2n) p span { border-color: #020202; }
.mt20 { margin-top: 20px; }
.history-hd { line-height: 36px; font-size: 12px; text-indent: 25px; }
.history-list { padding: 10px 0 10px 10px; background-color: #fff; border-bottom: 1px solid #c2c2c2; border-top: 1px solid #c2c2c2; }
.history-list li { width: 100%; float: left; padding: 10px 15px; }
.history-list li + li { border-top: 1px solid #d7d7d7; }
.history-list li .p-img { width: 100px; height: 100px; float: left; margin-right: 15px; }
.history-list li h3 { font-size: 14px; color: #444; padding: 0; max-height: 44px; margin-bottom: 3px; line-height: 22px; word-break: break-all; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.history-list li p { padding: 0 10px 4px; font-size: 14px; }
.history-list li p.red { font-size: 12px; }
.history-list li img { max-width: 100px; max-height: 100px; border-radius: 5px; }
#s-actionBar-container { position: fixed; bottom: 0; width: 100%; max-width:640px; background-color: #fff; }
#s-actionBar-container .action-bar { color: #5a5a5a; }
.mui-flex>.cell { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; width: 0; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; display: block; padding: 0!important; position: relative; }
#s-actionBar-container .action-bar .cell { height: 46px; text-align: center; }
#s-actionBar-container .action-bar .addfav, #s-actionBar-container .action-bar .toshop, #s-actionBar-container .action-bar .tocart { border-top: 1px solid #ddd; max-width: 50px; }
#s-actionBar-container .action-bar .cart { background: #ffc245; font-size: 15px; }
#s-actionBar-container .action-bar .buy { background: #ff4342; font-size: 15px; }
#s-actionBar-container .action-bar .nobuy { background: #999; }
#s-actionBar-container .action-bar .cell a { position: absolute; width: 100%; height: 100%; display: block; top: 0; text-decoration: none; }
#s-actionBar-container .action-bar>button { border: 0; color: #fff; font-size: 14px; outline: none; }
#s-actionBar-container .action-bar>div:before { width: 25px; height: 25px; font-size: 18px; display: block; margin: 0 auto; }
#s-actionBar-container .action-bar>div+div { border-left: 1px solid #ddd; }
.mui-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.plus-one { font-size: 12px; background-color: #e73641; color: #fff; display: block; position: absolute; top: 0; left: 18px; opacity: 0; border-radius: 100%; width: 20px; height: 20px; line-height: 20px; text-align: center; }
@font-face { font-family: "iconfont"; src: url('iconfont.ttf') format('truetype'); }
.iconfont { font-size: 12px; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.iconfont:before { font-family: "iconfont" !important; -webkit-text-stroke-width: 0.2px; }
.icon-shop-c:before { content: "\e600"; }
.icon-fav-c:before { content: "\e601"; }
.icon-cart-c:before { content: "\e602"; }

